whale-red = {
  "base":      #e51c23,
  "lighten-5": #fdeaeb,
  "lighten-4": #f8c1c3,
  "lighten-3": #f3989b,
  "lighten-2": #ee6e73,
  "lighten-1": #ea454b,
  "darken-1":  #d0181e,
  "darken-2":  #b9151b,
  "darken-3":  #a21318,
  "darken-4":  #8b1014
}

whale-blue = {
  "base":       #2196F3,
  "lighten-5":  #E3F2FD,
  "lighten-4":  #BBDEFB,
  "lighten-3":  #90CAF9,
  "lighten-2":  #64B5F6,
  "lighten-1":  #42A5F5,
  "darken-1":   #1E88E5,
  "darken-2":   #1976D2,
  "darken-3":   #1565C0,
  "darken-4":   #0D47A1,
  "accent-1":   #82B1FF,
  "accent-2":   #448AFF,
  "accent-3":   #2979FF,
  "accent-4":   #2962FF
}

